* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  text-align: center;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

.second {
  width: 400px;
  color: white;
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  padding: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  border-color: transparent;
  flex-wrap: wrap;
  /* height: auto; */
}

span {
  height: auto;
  width: 90%;
  /* background-color: greenyellow; */
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

input {
  border-radius: 10px;
  border-color: transparent;
  height: 30px;
  width: 200px;
  margin-left: 10px;
  text-align: center;
}
button{
  border-radius: 8px;
  border-color: transparent;
  height: 30px;
  width: 175px;
  background-color: rgb(131, 58, 180);
  color: white;

}
/* .main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
} */

.andy{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  width: 100%;
  height: auto;
  border: 1px solid black;
  /* flex-direction: column; */
}